{% load static %}

<header class="u-clearfix u-header u-sticky u-header" id="sec-613e" ><div class="u-clearfix u-sheet u-sheet-1" >
        <a href="/" data-page-id="186980" class="u-image u-logo u-image-1" data-image-width="80" data-image-height="40" title="Home">
          <img src="{% static 'images/default-logo.png' %}" class="u-logo-image u-logo-image-1" data-image-width="64">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 1px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-palette-3-base" href="#">
              <svg><use xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-custom-color-7 u-text-palette-3-base" href="/about" style="padding: 10px 20px;">Contacto</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-custom-color-7 u-text-palette-3-base" href="/segmentation" style="padding: 10px 20px;">Imágenes</a>
  {% if request.user.is_authenticated %}

<li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-custom-color-7 u-text-palette-3-base" href="/logout" style="padding: 10px 20px;">{{user.username}} Cerrar Sesión</a>
</li>
{%else%}
<li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-custom-color-7 u-text-palette-3-base" href="/login" style="padding: 10px 20px;">Ingresar</a>
</li>
{%endif%}
</ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-text-active-custom-color-5 u-text-custom-color-6 u-text-hover-custom-color-7 u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about" style="padding: 10px 20px;">Contacto</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/segmentation" style="padding: 10px 20px;">Imágenes</a>
</li>
</li>
{% if request.user.is_authenticated %}
<li class="u-nav-item"><a class="u-button-style u-nav-link" href="/logout" style="padding: 10px 20px;">{{user.username}} Cerrar Sesión</a>
</li>
{%else%}
<li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login" style="padding: 10px 20px;">Ingresar</a>
</li>
{%endif%}
</ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header> 